<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <!--模板包所在路径-->
    <add key="TPL_PATH" value="E:\CjkjPack\template.zip"/>
    <!--被替换的文字-->
    <add key="BE_REPLACE" value="DevelopmentFramework"/>
    <!--输出路径-->
    <add key="OLD_PATH" value="E:\CjkjPack\goal"/>
  </appSettings>
</configuration>
